.photos-section {
    position: absolute;
    top: 600px;
    left: 400px;
    width: 75%;

    .add-photo-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
    }

    .photo-list {
        display: grid;
        background-color: #ffffff;
        grid-template-columns: repeat(4, auto);
        padding: 20px;
        margin: 0px;

        .photo-list-item {
            list-style: none;

            img {
                width: 300px;
                height: 200px;
                margin-bottom: 2px;
            }
        }
    }
}