<div class="card p-3 card-container" >
    <img src="../../assets/profile.jpg" class="card-img-top" alt="profile">
    <div class="card-body card-text">
        <h5 class="card-title">{{name}}</h5>
        <p>{{occupation}}</p>
        <div class="followers-info">
            <div>
                <h3>485</h3>
                <p>Followings</p>
            </div>
            <div>
                <h3>2k</h3>
                <p>Followers</p>
            </div>
            <div>
                <h3>90</h3>
                <p>Activities</p>
            </div>
        </div>
        <button class="card-btn"><i class="fa-solid fa-user profile-icon"></i>ADD AS FRIEND</button>
    </div>
</div>