<nav class="navbar">
    <div class="logo">Able<sup>pro</sup></div>
    <ul class="nav-icons">
        <li>
            <div class="icon-container">
                <i class="fa fa-magnifying-glass icon"></i>
            </div>
        </li>
        <li>
            <div class="position-relative icon-container">
                <i class="fa fa-bell icon"> </i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    9
                    <span class="visually-hidden">unread messages</span>
                </span>
            </div>
        </li>
        <li>
            <div class="position-relative icon-container">
                <i class="fa fa-light fa-comments icon"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    5
                    <span class="visually-hidden">unread messages</span>
                </span>
            </div>
        </li>
        <li>
            <div class="icon-container">
                <img src="../../assets/icons8-expand-24.png" alt="expand">
            </div>
        </li>
        <li>
            <ul class="person-details">
                <li><img src="../../assets/avatar-1.png" alt="avatar-1"></li>
                <li>
                    {{name}}
                </li>
                <li>
                    <i class="fa fa-chevron-down"></i>
                </li>
            </ul>
        </li>
    </ul>
</nav>