<section class="profile-section">
    <div class="head-image">
        <img src="https://ashish25h.github.io/review-project/assets/hero-img.jpg" alt="hero-image">
    </div>
    <div class="link">
        <ul >
            <li><a href="/timeline" id='timeline'>Timeline</a></li>
            <li><a href="/about" id='about'>About</a></li>
            <li><a href="/photos" id='photos'>Photos</a></li>
            <li><a href="/friends" id='friends'>Friends</a></li>
        </ul>
    </div>
</section>