<div class="card friend-list-card">
    <div class="friend-list-header">
        <div>FRIENDS</div>
        <button class="see-more-btn">See more</button>
    </div>
    <hr class='friend-list-separator'>
    <div class="friends-images">
        {{#arr}}
        <img src="{{url}}" alt="friend-image">
        {{/arr}}
    </div>
</div>